@import '../../app/globals.scss';

.Reviews {
    position: relative;
    z-index: 2;
    .top {
        @include row-center-align;
        .title {
            font-size: $base * 16;
            line-height: 1.5;
            color: #fff;
            font-weight: 500;
        }
        .addReviewBtn {
            @include center-align;
            width: $base * 20;
            height: $base * 20;
            font-size: $base * 14;
            font-weight: 700;
            color: #fff;
            border: $base solid #fff;
            border-radius: 50%;
        }
    }
    .reviewsList {
        min-height: $base * 50;
        padding: $base * 5;
        border-radius: $base * 4;
        background-color: #fff;
    }
    .noText {
        font-size: $base * 4;
        color: #000;
    }
}