//=============================VARIABLES=====================
$base: 4px;

$md1: $base * 320; //1280
$md2: $base * 192; //768
$md3: $base * 120; //480


$dark: #17153B;
$primary: #2E236C;
$primaryLight: #433D8B;
$light: #C8ACD6;
$white: #ffffe4;
$black: #000000;

//===========================MIXINS=============================

@mixin column-align {
  display: flex;
  flex-direction: column;
}

@mixin column-center-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin row-center-align {
  display: flex;
  align-items: center;
}

@mixin center-align {
  display: flex;
  align-items: center;
  justify-content: center;
}


@mixin field {
  display: flex;
	justify-content: flex-start;
	padding: ($base * 2) ($base * 1.5);
  border: 1px solid $light;
  border-radius: 8px;
  transition: 0.15s;
  &:hover {
    box-shadow: -1px 4px 10px rgba($color: $primaryLight, $alpha: 0.3);
  }
}


@mixin field-focused {
  border-color: $primary;
}

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

//=============================GLOBAL CLASSES====================================
// .body {
//   background-color: antiquewhite;
// }

.container {
  margin: 0 auto;
  padding: 0 $base * 10; //40
  max-width: $base * 295; //1180
  width: 100%;
  @media (max-width: $md2) {
    padding: 0 $base * 4; //16
  }
}

.wrapper {
  min-height: 100%;
  @include column-align;
}

.main {
  margin-top: $base * 15;
  flex: 1 1 auto;
}