//======================================NULLSTYLE==========================
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
  }
  
  html,
  body {
	height: 100%;
	max-width: 100vw;
	overflow-x: hidden;
  }
  
  a {
	color: inherit;
	text-decoration: none;
  }
  
  @media (prefers-color-scheme: dark) {
	html {
	  color-scheme: dark;
	}
  }
  
  /* Setting box sizing */
  *,
  *::before,
  *::after {
	box-sizing: border-box;
  }
  
  /* removing paddings */
  ul[class],
  ol[class] {
	padding: 0;
  }
  
  /* removing margins */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  ul[class],
  ol[class],
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd {
	margin: 0;
  }
  
  /* base settings for body */
  body {
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
  }
  
  /* dele style type for up and ol and li, if the have className*/
  ul[class],
  ol[class] {
	list-style: none;
  }
  
  /* a elements without classes to base styles */
  a:not([class]) {
	text-decoration-skip-ink: auto;
  }
  
  /* Упрощаем работу с изображениями */
  img {
	max-width: 100%;
	display: block;
  }
  
  /* Указываем понятную периодичность в потоке данных у article*/
  article > * + * {
	margin-top: 1em;
  }
  
  /* Наследуем шрифты для инпутов и кнопок */
  input,
  button,
  textarea,
  select {
	font: inherit;
	background-color: inherit;
	border: none;
  }
  
  /* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
  @media (prefers-reduced-motion: reduce) {
	* {
	  animation-duration: 0.01ms !important;
	  animation-iteration-count: 1 !important;
	  transition-duration: 0.01ms !important;
	  scroll-behavior: auto !important;
	}
}