@import '../../app/globals.scss';

.Header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 1px 1px 10px #0000001f;
	background-color: #fff;
	z-index: 10;
	.container {
		padding: $base * 3 $base * 2;
		@include row-center-align;
		justify-content: space-between;

		@media (max-width: $md2) {
			.search {
				order: 1;
			}
			.logo {
				order: 2;
			}
			.auth {
				order: 3;
			}
		}
	}
}