@import '../../app/globals.scss';

.Header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $base * 15;
	box-shadow: 1px 1px 10px #0000001f;
	.container {
		padding: $base * 3 0;
		@include row-center-align;
		justify-content: space-between;
	}
}