@import '../../../app/globals.scss';

.Search {
	@include field;
	&._focused {
		@include field-focused;
	}
	.input {
		margin-right: $base;
		max-width: $base * 80;
		min-width: $base * 60;
		@media (max-width: $md2) {
			max-width: 100%;
			min-width: auto;
			width: 0;
			display: none;
			&._show {
				display: block;
				width: 100%;
			}
		}
	}
	.searchBtn {}
}