@import '../../../app/globals.scss';

.AddPopup {
	position: fixed;
	top: 0;
	left: 0;
	@include center-align;
	width: 100%;
	height: 100%;
	background-color: #5656566c;
	z-index: 3;
	.body {
		padding: $base * 5;
		width: $base * 150;
		background-color: #fff;
		border-radius: $base * 4;
		.top {
			display: flex;
			flex
			.title {
				font-size: $base * 5;
				font-weight: 500;
			}
			.closeBtn {
				font-size: $base * 4;
			}
		}
	}
}